html, body {
  margin: 0;
  height: 100%;
  background: #222;
}

#gradient-background {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background: linear-gradient(to bottom, #1e3c72, #2a5298);
  z-index: -1; /* behind the canvas */
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.ui-container {
  position: relative;
  aspect-ratio: 3 / 2; 
  overflow: hidden;
  max-width: 100vw;
  min-width: 450px;
  max-height: 100vh;
  min-height: 300px;
  width: 100%;
  height: auto;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #011e51, #9d607a,#ef5e16, #2a5298);


}

/* Stacked elements */

.background{
  display: none;
  pointer-events: none;
  position: absolute;
  background-color: #dcc1c1;
  width: 100vw;
  height: 100%;
 
}

.icons{
  pointer-events: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 100vw;
  height: 100%;
}

.icons * {
  pointer-events: auto;
}

.popupOne{
  pointer-events: none;

  display: flex;
  position: absolute;
  z-index: 2;
  margin: auto;
  /*background-color: aliceblue;*/
  width: 100vw;
  height: 100%;
  justify-content: center;
  align-content: center;
  align-items: center;  
}

.popupOne * {
  pointer-events: auto;
}

.toolbar{
  
  pointer-events: none;
  position: absolute;
  width: 100vw;
  height: 100%;  
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 4;
}

.toolbar * {
  pointer-events: auto;
}

/* Desktop Icons (Layer 1) */

.desktop_icon{
  width: 10vw;
  height: 12vw;
  padding: 10px;
  text-shadow: .2vw .2vw .2vw #000000;
}

.icon{
  user-select: none; 
  width: 10vw;
  height: 10vw;
  display: flex;
  justify-content: center;
}

.name{
  width: 10vw;
  height: 2vw;
  text-align: center;
  font-size: 1vw;
  color: white;
  user-select: none;
}

/* popup windows (Layer 2) */
.outer_window{
  position: absolute;
  margin: auto;
  width: 40vw;
  height: 40vw;
    padding-top: 2vw;
    padding-left: 5vw;
    padding-bottom: 5vw;
    padding-right: 6vw;
  
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.control_bar{
  display: flex;
  color: white;
  width: 40vw;
  height: 10%;
  font-size: 1.5vw;
  user-select: none;
}

.control_bar:active {
  cursor: grabbing;
}

.name_window{
  margin: auto;
  display: flex;
  width: 90%;
  height: 100%;
  padding: .5vh;
  text-shadow: .2vw .2vw .2vw #000000;
  align-items: center;
}

.exit_window{
  margin: auto;
  width: 10%;
  text-align: center;
}

.inner_window{
  display: flex;
  background-color: rgb(24, 90, 67);
  width: 40vw;
  height: 90%;  
  border-radius: 2vw;
  border: solid black 0px;
}

.content{
  margin: auto;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 1vw;
  border-radius: .6vw;
  box-shadow: inset 0 0 .1vw .1vw rgba(0, 0, 0, 0.7);
}

/*Windows stack*/
.exit{
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  border-left: solid rgba(255, 255, 255, 0.352) .1vw;
  font-weight: bold;
}

.exit:hover{
  filter: drop-shadow(.1vw .1vw .5vw black);
  color: red;
}

/*Window 1 - About*/
.titleAbout{
  color: black;
  font-size: 2vw;
  font-family: 'Courier New', Courier, monospace;
}

.bodyAbout{
  color: black;
  font-size: 1vw;
  font-family: 'Courier New', Courier, monospace;
}

.resume{
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1vw;
}

.file_container{
  display: flex;
}

.files{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  
}

.file{
  height: fit-content;
  width: 11.5vw;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 1vw;
  align-items: center;
}

.file_icon{

  width: 10vw;
  height: 10vw;
  margin: auto;
  display: flex;
  justify-content: center;
}

.file_name{
  user-select: none; 
  width: 5vw;
  font-size: 1vw;
}

/*Interests*/

/*Gallery*/

.gallery_container{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  display: flex;
  height: 100%;
}

.gallery{
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  user-select: none; 
}

.gallery_image{
  margin: auto;
  width: 25vw;
  height: 25vw;
  padding: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery_controls{
  color: rgb(0, 0, 0);
  margin: auto;
  display: flex;
  flex-direction: row;
}

.gallery_left{
  width: 2vw;
  padding: 1vw;
  box-sizing: border-box;
  font-size: 1vw;
  cursor: pointer;
}

.gallery_right:hover{
  font-weight: bold;
}

.gallery_left:hover{
  font-weight: bold;
}

.gallery_title{
  text-align: center;
  width: 10vw;
  padding: 1vw;
  box-sizing: border-box;
  font-size: 1vw;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  user-select: none; 
}

.gallery_right{
  width: 2vw;
  padding: 1vw;
  box-sizing: border-box;
  font-size: 1vw;
  cursor: pointer;
}

.skill_line{

  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  padding: .5vw;
  font-size: 1vw;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  overflow: hidden;
}

.skill_icon{

  width: 10%;
  margin: auto;
  box-sizing: border-box;
  padding: .5vw;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  overflow: hidden;
}

.skill_name{

  width: 45%;
  margin: auto;
  box-sizing: border-box;
  padding: .5vw;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  overflow: hidden;
}

.skills_container{
  box-sizing: border-box;
  padding: 1vw;
  user-select: none; 
}

.skill_details{

  width: 45%;
  margin: auto;
  box-sizing: border-box;
  padding: .5vw;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  overflow: hidden;
}

/* toolbar (Layer 2) */
.toolbar_base{
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: solid white .01vw;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  padding: .5vw;
  font-size: 1.5vw;
}

.toolbar_logo{
  user-select: none; 
  border-right: white solid .01vw;
  width: fit-content;
  justify-content: center;
  align-items: center;
  display: flex;  
  color: white;
  text-shadow: .5vw .5vw 1vw black;
  box-sizing: border-box;
  padding-top:.3vw;
  padding-bottom:.3vw;
  padding-left:.3vw;
  padding-right:.5vw;
}

.toolbar_tabs{
  user-select: none; 
  width: 80%;
  display: flex;
  justify-content: flex-start;
}
.toolbar_tab{
  border-right: white solid .01vw;
  box-shadow: inset .5vw 0 .5vw  rgba(0, 0, 0, 0.2); 
  width: 10%;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  text-shadow: .1vw .1vw .1vw black;
  border-radius: .5vw;
}

.toolbar_time{
  justify-content: center;
  align-items: center;
  display: flex;
  border-left: white solid .01vw;
  width: 10%;
  color: white;
  text-shadow: .1vw .1vw .1vw black;
}

.menu{
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 1vw;
  padding-left: 1vw;
  padding-right: 1vw;
  box-sizing: border-box;
  width: 15%;
  height: fit-content;
  font-size: 1vw;
  text-shadow: .2vw .2vw .2vw #000000;
}

.menu_title{
  user-select: none; 
  padding: 1vw;
  box-sizing: border-box;
  border-bottom: rgba(255, 255, 255, 0.464) solid .1vw;
  color: white;
  font-weight: bold;
}

.menu_button{
  box-sizing: border-box;
  padding: .5vw;
}

.desktop_icon_svg{
  width: 80%;
  height: 90%;
}

.file_icon_png{
  width: 80%;
  height: 90%;
}

/* unvisited link */
a:link {
  color: rgb(255, 255, 255);
}

/* visited link */
a:visited {
  color: rgb(255, 255, 255);
  font-weight: bold;
}

/* mouse over link */
a:hover {
  color: rgb(255, 255, 255);
  text-decoration: underline;
}

/* selected link */
a:active {
  color: rgb(255, 255, 255);
}

.gallery_png{
  height: 100%;
}

.skills_icon_png{
  width: 2vw;
}

.logo_image{
  width: 2vw;
  height: 2vw;
  filter:drop-shadow(.1vw .1vw .1vw black)
}

.three{
  position: absolute;

}

.threejs-container{
  width: 100%;

  z-index: 30;
}

.threeMain{

}

canvas {
  pointer-events: auto !important;
}

.three_contain_load{

}

.loading_screen{
  background-color: rgb(0, 0, 0);
  color: white;
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 20;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.loading_image{
  background-image: url('../assets/Logo_Personal_002.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 20vw;
  width: 10vw;
  user-select: none;
  animation: loading 5s infinite;
}

@keyframes loading {

  0% {filter: drop-shadow(0 0 .5vw rgba(255, 255, 255, 1));}
  50% {filter: drop-shadow(0 0 0vw rgba(255, 255, 255, 1));}
  100% {filter: drop-shadow(0 0 .5vw rgba(255, 255, 255, 1));}
  
}

/*Troubleshooting*/
.buttons{
  display: none;
  width: 100px;
  height: 50px;
  background-color: rgb(255, 0, 0);
}